.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2d0a44;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #61dafb;
  font-size: calc(10px + 1vmin);
  text-decoration: none;
}
a:visited {
  color: #61dafb;
}
.oneBlog {
  border: 2px solid black;
  margin: 5vh 9vw;
  padding-left: 5vw;
  text-align: left;
  background-color: rgb(160, 198, 223);
}

.addNewPost {
  display: flex;
  flex-flow: row;
  border: 2px solid black;
  margin: 5vh 9vw;
  padding: 2vh 5vw;
  background-color: rgb(147, 164, 236);
  text-align: left;
  justify-content: space-between;
}

button:hover {
  background-color: rgb(27, 99, 231);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
